@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Matemasie&family=Outfit:wght@100..900&display=swap');

body{
    box-sizing:border-box;
    background-color: rgb(225, 219, 215);
    margin: 0;
    padding: 0;
}

/* @media (max-width: 900px) { */
    img{
        position: relative;
        top: 0;
    }
    #mainCont{
        padding: 35px;
    }
    h2{
        font-size: 30px;
        font-weight: bold;
        font-family: "Matemasie", sans-serif;
        line-height: 30px;
        color: rgb(39, 49, 39);
    }
    div > p{
        font-size: 20px;
        font-weight: bold;
        color: rgb(116, 116, 113);
        letter-spacing: 0.5px;
        line-height: 30px;
        font-family: "Lato", sans-serif;
    }
    .SecPrep{
        margin-top: 20px;
        background-color: rgba(132, 0, 255, 0.052);
        padding: 10px;
        border-radius: 10px;
    }
    .SecPrep > div{
        font-family: "Outfit", sans-serif;
        font-size: 25px;
        font-weight: bold;
        margin-left: 20px;
        color: rgba(84, 31, 133, 0.879);
    }
    .SecPrep > ul{
        line-height: 35px;
        font-size: 20px;
        padding-right: 10px;
        font-family: "Lora", sans-serif;
        font-weight: 750;
        color: rgb(116, 116, 113);
    }
    .SecPrep > ul > li > span, .SecInst > ul > li > span{
        font-size: 22px;
        font-weight: 800;
        font-family: "Outfit", sans-serif;
    }
    .SecPrep > ul li::marker{
        color: rgb(76, 1, 146);
    }
    .SecIng, .SecInst, .SecNutr{
        padding-top: 35px;
        border-bottom: solid 0.001vh rgb(116, 116, 113);
    }
    .SecInst > div,.SecIng > div, .SecNutr > :nth-child(1){
        font-family: "Lora", sans-serif;
        font-size: 33px;
        font-weight: bold;
        color: rgb(101, 23, 23);
    }
    .SecIng > ul, .SecInst > ul{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 6%;
        line-height: 30px;
        font-size: 20px;
        font-family: "Lora", sans-serif;
        font-weight: 700;
        color: rgb(116, 116, 113);
    }
    .SecIng> ul li::marker, .SecInst> ul li::marker{
        color: rgb(101, 23, 23);
    }
    .SecNutr > p{
        line-height: 25px;
        font-size: 20px;
        font-family: "Lora", sans-serif;
        font-weight: 700;
        color: rgb(116, 116, 113);
    }
    .SecNutr > div:not(div:first-of-type){
        display: flex;
        justify-content: space-between;
        line-height: 30px;
        font-size: 20px;
        font-family: "Lora", sans-serif;
        font-weight: 700;
        color: rgb(116, 116, 113);
        padding-bottom: 20px;
        padding-top: 20px;
        border-bottom: solid 0.001vh rgb(116, 116, 113);
    }
    .SecNutr > div:not(div:first-of-type) > :nth-child(2){
        color: rgb(101, 23, 23);
        font-weight: bold;
        font-size: 23px;
    }
/* } */

@media (min-width: 700px){
    body{
        padding: 20px;
    }
    img{
        border-radius: 20px;
    }
    #mainCont > h2{
        font-size: 60px;
        line-height: 70px;
    }
    ::-webkit-scrollbar{
        display: none;
    }
}